{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SCMS PROJECT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
        </head>
<body bgcolor="white">

<h2 align="center">Student Course Management System</h2>

<nav class="navbar">

    <div class="logo">KL UNIVERSITY</div>

    <ul class="nav-links">

        <div class="menu">

<li> <a href="{% url 'home' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
<li> <a href="{% url 'about' %}">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
<li class="services">
    <a href="#">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ul class="dropdown">
        <li><a href="{% url 'studentlogin' %}">Student</a></li>
        <li><a href="{% url 'facultylogin' %}">Faculty</a></li>
        <li><a href="{% url 'login' %}">Admin</a></li>
    </ul>
</li>

<li> <a href="{% url 'contact' %}">Contact Us</a></li>
        </div>

    </ul>
</nav>
<style>
        .container {
            position: relative;
            text-align: left;
            color: black;
        }

        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 22px;
        }
    </style>


<div class="container">
        <img src="static/images/sdp1.jpg" alt="Your Image" width="1500" height="550">
    <div class="text"><center><h2><p><font color="#006064"><br>Contact Us</font></p></h2></center><h3 align="left">Phone Number</h3>
Administrative Office(Vijayawada)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0866-3500122<br><br>Campus(vijayawada)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08645-350200<br>
        <h3 align="left">Fax Number</h3>Campus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0863-2388999<br>
        <h3 align="left">Postal Address</h3>K L Deemed to be University, Green Fields, Vaddeswaram, Guntur District, A.P., INDIA. Pincode : 522 502.
    </div>
    </div>
{% block 'body' %}

<body>
<br>



{% endblock %}

</body>
</html>