{% extends 'studenthome.html' %}

{% block 'body' %}
<center>
<h2 align="center" style="color:red">{{msg}}</h2>

<h3 align="center"><u>View Courses</u></h3>

<br>

<form method="post" action="{% url 'displaystudentcourses' %}">
{% csrf_token %}
    <table align="center" width="30%" height="20%">

        <tr align="left">
            <td><label>Academic Year</label></td>
            <td>
                <select name="ay" required>
                    <option value="">--Select--</option>
                    <option value="2023-24">2023-24</option>
                    <option value="2022-23">2022-23</option>
                </select>
            </td>
        </tr>

        <tr align="left">
            <td><label>Semester</label></td>
            <td>
                <select name="sem" required>
                    <option value="">--Select--</option>
                    <option value="Odd">Odd</option>
                    <option value="Even">Even</option>
                </select>
            </td>
        </tr>


        <tr align="center">
            <td><input type="submit" value="View" class="addbutton"></td>
            <td><input type="reset" value="Clear" class="addbutton"></td>
        </tr>
    </table>
</form>
</center>
{% endblock%}


